/* Created by: Ryan-Shaw-2
* Created on: Apr 2021
* This CSS file defines the style for index2.html ICS2O-Unit1-03-HTML-CSS
*/

body {
  background-color: rgb(230, 74, 27);
}

h1 {
  background-color: rgb(7, 3, 252);
  color: rgb(3, 252, 231);
  font-family: 'Times New Roman', Times, serif;
  padding: 40px;
  text-align: center;
}

p {
  background-color: #fcbe03;
  font-family: fantasy, serif;
}

ul {
  color: rgb(16, 199, 16);
  font-family: 'Times New Roman', Times, serif;
}

ul li::before {
  content: "✅";
}

table {
  border: solid thin;
}

th {
  height: 2rem;
  background: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  border: 1px solid black;
  text-align: left;
}

td {
  height: 2rem;
  background: #fcbe03;
  border: 1px solid black;
  text-align: center;
}
